# Python cache
__pycache__/
*.pyc

# Streamlit secrets (non va MAI su GitHub)
.streamlit/secrets.toml

# Credenziali Google e file sensibili
service-account.json

# Environment
.env
*.env

# File di sistema Mac
.DS_Store

# File duplicati
rapportini-app-*.json
# Credenziali Google
credentials.json
sheet_url.txt

git
secrets_example.txt
secrets.txt
sheet_url.txt
*.json

